<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agencies</title>

    <style th:replace="blocks/linkAdminLTE"></style>
    <div th:replace="blocks/links"></div>
    <link rel="stylesheet" th:href="@{/css/tableSort.css}">
    <link rel="stylesheet" th:href="@{/css/popup.css}">
</head>

<body class="sidebar-mini layout-fixed control-sidebar-slide-open" style="height: auto;">
<div class="wrapper">

    <div th:replace="blocks/navbar"></div>
    <div th:replace="blocks/sidebarContainer"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <h1 class="m-0">Agencies</h1>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <label>
                <select id="sizeSelect" style="width: 50px; " onchange="changeSize()" name='status' class='form-control'>
                    <option value=10 selected>10</option>
                    <option value=20>20</option>
                </select>
            </label>

            <a th:href="@{/agencies/agency/0}" class="btn btn-success popup-with-form">Add</a>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">
                        <label>
                            <input id="name" oninput="search()" type="text" class="form-control" style="width: 130px">
                        </label>
                        <div onclick="sort(this, 'name')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Name</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col">
                        <label>
                            <input id="director" oninput="search()" type="text" class="form-control" style="width: 130px">
                        </label>
                        <div onclick="sort(this, 'directorName and directorSurname')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Director</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col">
                        <label>
                            <input id="phone" oninput="search()" type="text" class="form-control" style="width: 130px">
                        </label>
                        <div onclick="sort(this, 'directorPhone')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Phone</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col">
                        <label>
                            <input id="email" oninput="search()" type="text" class="form-control" style="width: 130px">
                        </label>
                        <div onclick="sort(this, 'directorEmail')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Email</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col">
                        <label>
                            <input id="count" oninput="search()" type="number" class="form-control" style="width: 130px">
                        </label>
                        <div onclick="sort(this, 'countContracts')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Sales</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col">
                        <div>
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Edit</p>
                        </div>
                    </th>
                    <th scope="col">
                        <div>
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Delete</p>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody id="list">
                <!-- list -->
                </tbody>
            </table>
            <nav>
                <ul id="choose-page" class="pagination">
                    <!-- pagination buttons -->
                </ul>
            </nav>
        </section>
    </div>
</div>

<script>

    let context = window.location.pathname.substring(0, window.location.pathname.indexOf("/", 1));
    let url = window.location.protocol + "//" + window.location.host + context;

    let currentPage = 1;
    let size = 10;
    let sortingField = 'id';
    let sortingDirection = 'ASC';  // DESC

    let searchName;
    let searchDirector;
    let searchPhone;
    let searchEmail;
    let searchCount;

    let totalPage;

    $(document).ready(function() {
        search();
    });

    function search(){
        searchName = document.getElementById('name').value;
        searchDirector = document.getElementById('director').value;
        searchPhone = document.getElementById('phone').value;
        searchEmail = document.getElementById('email').value;
        searchCount = document.getElementById('count').value;
        updatePage()
    }

    function updatePage(){
        let data = {
            page: currentPage,
            size: size,
            field: sortingField,
            direction: sortingDirection,
            name: searchName,
            director: searchDirector,
            phone: searchPhone,
            email: searchEmail,
            count: searchCount,
        }
        $.ajax({
            type: 'get',
            url: url + '/getAgencies',
            data: data,
            dataType: "json",
            success: function (data){
                totalPage = data.totalPages;
                if(currentPage > totalPage && currentPage > 1){
                    currentPage = totalPage;
                    updatePage();
                }
                updateList(data)
                console.log('success /getAgencies');
            },
            error: function() {
                console.log('error /getAgencies');
            }
        });
    }

    function updateList(data) {
        $("#list").empty();
        data.content.forEach((object) => {
            let editUrl = url + '/agency/' + object.id;
            let directorName = object?.directorName ?? 'Without director';
            let directorPhone = object?.directorPhone ?? 'Without director';
            let directorEmail = object?.directorEmail ?? 'Without director';
            $("#list").append($("" +
                "<tr>" +
                "<td>" +
                "<p>" + object.name + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + directorName + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + directorPhone + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + directorEmail + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + object.count + "</p>" +
                "</td>" +
                "<td>" +
                "<a href='" + editUrl + "' class=\"btn btn-warning\" type=\"button\">Edit</a>" +
                "</td>" +
                "<td>" +
                "<button onclick='deleteObject(" + object.id + ")' class=\"btn btn-danger\" type=\"button\">Delete</button>" +
                "</td>" +
                "</tr>"
            ));
        })
        paginationButton();
    }

    function deleteObject(id){
        deleteObjSecond(url, '/deleteAgencyById', id)
    }
    function afterDeleteObjSecond(){
        updatePage();
    }

    function changeSize(){
        size = $('#sizeSelect').val();
        currentPage = 1;
        updatePage()
    }

    function paginationButton(){
        $("#choose-page").empty();
        if(totalPage > 1){
            if(currentPage !== 1){
                $("#choose-page").append($("" +
                    "<div class='page-item'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goFirstPage()' style='height: 40px'>First</button>" +
                    "</div>" +
                    "<div class='page-item'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goPreviousPage()' style='height: 40px'>\<\<</a>" +
                    "</div>"
                ));
            } else {
                $("#choose-page").append($("" +
                    "<div class='page-item disabled'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goFirstPage()' style='height: 40px'>First</button>" +
                    "</div>" +
                    "<div class='page-item disabled'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goPreviousPage()' style='height: 40px'>\<\<</a>" +
                    "</div>"
                ));
            }
            let start = currentPage - 2;
            let finish = currentPage + 2;
            for(let i = start; i <= finish; i++) {
                if(i > 0 && i <= totalPage) {
                    if (currentPage === i) {
                        $("#choose-page").append($("" +
                            "<div class='page-item active'>" +
                            "<button onclick='goToPage(" + i + ")' class='page-link' tabIndex=\"-1\" style='height: 40px; width: 40px'>" + i + "</button>" +
                            "</div>"
                        ));
                    } else {
                        $("#choose-page").append($("" +
                            "<div class='page-item'>" +
                            "<button onclick='goToPage(" + i + ")' class='page-link' tabIndex=\"-1\" style='height: 40px; width: 40px'>" + i + "</button>" +
                            "</div>"
                        ));
                    }
                }
            }
            if(currentPage !== totalPage) {
                $("#choose-page").append($("" +
                    "<div class='page-item'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goNextPage()' style='height: 40px'>\>\></button>" +
                    "</div>" +
                    "<div class='page-item'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goLastPage()' style='height: 40px'>Last</a>" +
                    "</div>"
                ));
            } else {
                $("#choose-page").append($("" +
                    "<div class='page-item disabled'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goNextPage()' style='height: 40px'>\>\></button>" +
                    "</div>" +
                    "<div class='page-item disabled'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goLastPage()' style='height: 40px'>Last</a>" +
                    "</div>"
                ));
            }
        }
    }

    function goFirstPage(){
        currentPage = 1;
        updatePage();
    }
    function goPreviousPage(){
        currentPage--;
        updatePage()
    }
    function goToPage(i){
        currentPage = i;
        updatePage()
    }
    function goNextPage(){
        currentPage++;
        updatePage()
    }
    function goLastPage(){
        currentPage = totalPage;
        updatePage()
    }
</script>

<script th:src="@{/js/app.js}"></script>
<div th:replace="blocks/scriptAdminLTE"></div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</main>
</body>
</html>