
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li th:each="el : ${currencies}" class="nav-item d-none d-sm-inline-block" style="margin-left: 20px">
            <p th:if="${el.name} != 'UAH'" th:id="${el.id}" th:value="${el.name}" th:text="${el.name} + ': ' + ${el.price}" style="margin-top: 7px; margin-bottom: 0px;"></p>
        </li>
    </ul>
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
            
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div id="notification" class="dropdown-menu pre-scrollable" aria-labelledby="dropdownMenuButton">

            </div>
        </li>
        <!-- Logout -->
        <li class="nav-item">
            <form th:action="@{/logout}" method="post">
                <input class="btn btn-primary" type="submit" value="Logout">
            </form>
        </li>
    </ul>
</nav>
<!-- /.navbar -->