<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contracts</title>

    <style th:replace="blocks/linkAdminLTE"></style>
    <div th:replace="blocks/links"></div>

    <link rel="stylesheet"  th:href="@{/css/tableSort.css}">
    <link rel="stylesheet" th:href="@{/css/popup.css}">
</head>

<body class="sidebar-mini layout-fixed control-sidebar-slide-open" style="height: auto;">
<div class="wrapper">

    <div th:replace="blocks/navbar"></div>
    <div th:replace="blocks/sidebarContainer"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <h1 class="m-0">Contracts</h1>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <label>
                <select id="sizeSelect" style="width: 50px; " onchange="changeSize()" name='status' class='form-control'>
                    <option value=10 selected>10</option>
                    <option value=20>20</option>
                </select>
            </label>

            <a th:href="@{/contracts/contract/0}" class="btn btn-success popup-with-form">Add</a>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">
                        <label>
                            <input id="id" oninput="search()" type="number" min="1" max="1000000" class="form-control" style="width: 130px">
                        </label>
                        <div onclick="sort(this, 'id')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Number</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col">
                        <label>
                            <input id="dateStart" oninput="search()" type="date" class="form-control" style="width: 80px">
                        </label>
                        <label>
                            <input id="dateFin" oninput="search()" type="date" class="form-control" style="width: 80px">
                        </label>
                        <div onclick="sort(this, 'date')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Date</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col">
                        <label>
                            <input id="flatNumber" oninput="search()" type="number" min="1" max="1000000" class="form-control" style="width: 130px">
                        </label>
                        <div onclick="sort(this, 'flat.number')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Flat number</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col">
                        <label>
                            <select id="object" onchange="search()" class="form-control" style="width: 130px">
                                <option th:value="null" selected>Empty</option>
                                <option th:each="el : ${objects}" th:value="${el.id}" th:text="${el.house} + '(' + ${el.section} + ')'"></option>
                            </select>
                        </label>
                        <div onclick="sort(this, 'flat.object.house and flat.object.section')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Object</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col">
                        <label>
                            <input id="buyer" oninput="search()" type="text" class="form-control" style="width: 130px">
                        </label>
                        <div onclick="sort(this, 'buyer.surname and buyer.name and buyer.lastname')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Buyer</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col">
                        <label>
                            <input id="comment" oninput="search()" type="text" class="form-control" style="width: 130px">
                        </label>
                        <div onclick="sort(this, 'comment')">
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Comment</p>
                            <div></div>
                        </div>
                    </th>
                    <th scope="col">
                        <div>
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Edit</p>
                        </div>
                    </th>
                    <th scope="col">
                        <div>
                            <p style="margin: 5px; display: inline-block; box-sizing: border-box;">Delete</p>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody id="list">
                    <!-- list -->
                </tbody>
            </table>
            <nav>
                <ul id="choose-page" class="pagination">
                    <!-- pagination buttons -->
                </ul>
            </nav>
        </section>
    </div>
</div>

<div th:replace="blocks/scriptAdminLTE"></div>

<script>
    let context = window.location.pathname.substring(0, window.location.pathname.indexOf("/", 1));
    let url = window.location.protocol + "//" + window.location.host + context;

    let currentPage = 1;
    let size = $('#sizeSelect').val();
    let sortingField = 'id';
    let sortingDirection = 'DESC';  // ASC

    let searchId;
    let searchDateStart;
    let searchDateFin;
    let searchFlatNumber;
    let searchObjectId;
    let searchBuyer;
    let searchComment;

    let totalPage;

    $(document).ready(function() {
        search();
    });

    function search(){
        searchId = document.getElementById('id').value;
        searchDateStart = document.getElementById('dateStart').value;
        searchDateFin = document.getElementById('dateFin').value;
        searchObjectId = $('#object').val();
        searchFlatNumber = document.getElementById('flatNumber').value;
        searchBuyer = document.getElementById('buyer').value;
        searchComment = document.getElementById('comment').value;
        updatePage()
    }

    function updatePage(){
        let data = {
            page: currentPage,
            size: size,
            field: sortingField,
            direction: sortingDirection,
            id: searchId,
            dateStart: searchDateStart,
            dateFin: searchDateFin,
            flatNumber: searchFlatNumber,
            objectId: searchObjectId,
            buyerName: searchBuyer,
            comment: searchComment,
        }
        $.ajax({
            type: 'get',
            url: url + '/getContracts',
            data: data,
            dataType: "json",
            success: function (data){
                totalPage = data.totalPages;
                if(currentPage > totalPage && currentPage > 1){
                    currentPage = totalPage;
                    updatePage();
                }
                updateList(data)
                console.log('success /getContracts');
            },
            error: function() {
                console.log('error /getContracts');
            }
        });

    }

    function updateList(data) {
        $("#list").empty();
        data.content.forEach((object) => {
            let editUrl = url + '/contract/' + object.id;
            $("#list").append($("" +
                "<tr>" +
                "<td>" +
                "<p>" + object.id + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + moment(object.date).format('YYYY-MM-DD') + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + object.flatNumber + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + object.object + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + object.buyer + "</p>" +
                "</td>" +
                "<td>" +
                "<p>" + object.comment + "</p>" +
                "</td>" +
                "<td>" +
                "<a href='" + editUrl + "' class=\"btn btn-warning\" type=\"button\">Edit</a>" +
                "</td>" +
                "<td>" +
                "<button onclick='deleteObject(" + object.id + ")' class=\"btn btn-danger\" type=\"button\">Delete</button>" +
                "</td>" +
                "</tr>"
            ));
        })
        paginationButton();
    }

    function deleteObject(id){
        deleteObjFirst(url, "/deleteContractById", id)
    }
    function afterDeleteObjFirst(){
        updatePage()
    }

    function changeSize(){
        size = $('#sizeSelect').val();
        currentPage = 1;
        updatePage()
    }

    function paginationButton(){
        $("#choose-page").empty();
        if(totalPage > 1){
            if(currentPage !== 1){
                $("#choose-page").append($("" +
                    "<div class='page-item'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goFirstPage()' style='height: 40px'>First</button>" +
                    "</div>" +
                    "<div class='page-item'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goPreviousPage()' style='height: 40px'>\<\<</a>" +
                    "</div>"
                ));
            } else {
                $("#choose-page").append($("" +
                    "<div class='page-item disabled'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goFirstPage()' style='height: 40px'>First</button>" +
                    "</div>" +
                    "<div class='page-item disabled'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goPreviousPage()' style='height: 40px'>\<\<</a>" +
                    "</div>"
                ));
            }
            let start = currentPage - 2;
            let finish = currentPage + 2;
            for(let i = start; i <= finish; i++) {
                if(i > 0 && i <= totalPage) {
                    if (currentPage === i) {
                        $("#choose-page").append($("" +
                            "<div class='page-item active'>" +
                            "<button onclick='goToPage(" + i + ")' class='page-link' tabIndex=\"-1\" style='height: 40px; width: 40px'>" + i + "</button>" +
                            "</div>"
                        ));
                    } else {
                        $("#choose-page").append($("" +
                            "<div class='page-item'>" +
                            "<button onclick='goToPage(" + i + ")' class='page-link' tabIndex=\"-1\" style='height: 40px; width: 40px'>" + i + "</button>" +
                            "</div>"
                        ));
                    }
                }
            }
            if(currentPage !== totalPage) {
                $("#choose-page").append($("" +
                    "<div class='page-item'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goNextPage()' style='height: 40px'>\>\></button>" +
                    "</div>" +
                    "<div class='page-item'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goLastPage()' style='height: 40px'>Last</a>" +
                    "</div>"
                ));
            } else {
                $("#choose-page").append($("" +
                    "<div class='page-item disabled'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goNextPage()' style='height: 40px'>\>\></button>" +
                    "</div>" +
                    "<div class='page-item disabled'>" +
                    "   <button class='page-link' tabIndex=\"-1\" onclick='goLastPage()' style='height: 40px'>Last</a>" +
                    "</div>"
                ));
            }
        }
    }

    function goFirstPage(){
        currentPage = 1;
        updatePage();
    }

    function goPreviousPage(){
        currentPage--;
        updatePage()
    }

    function goToPage(i){
        currentPage = i;
        updatePage()
    }
    function goNextPage(){
        currentPage++;
        updatePage()
    }
    function goLastPage(){
        currentPage = totalPage;
        updatePage()
    }
</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/tableSort.js}"></script>

</main>
</body>
</html>