<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Settings</title>

    <style th:replace="blocks/linkAdminLTE"></style>
    <div th:replace="blocks/links"></div>
    <script th:src="@{/js/app.js}"></script>
    <link rel="stylesheet" th:href="@{/css/popup.css}">
</head>

<body class="sidebar-mini layout-fixed control-sidebar-slide-open" style="height: auto;">
<div class="wrapper">

    <div th:replace="blocks/navbar"></div>
    <div th:replace="blocks/sidebarContainer"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <h1 class="m-0">Settings</h1>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="form-group mt-2">
                <label>Notifications:</label>
                <p>Director will receive notification with selected checkbox</p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="contract">
                    <label class="form-check-label" for="contract">
                        Contracts
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flatPayment">
                    <label class="form-check-label" for="flatPayment">
                        Flat payment
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="agency">
                    <label class="form-check-label" for="agency">
                        Agency
                    </label>
                </div>
            </div>

            <div class="form-group mt-2">
                <label>Email to buyers:</label>
                <p>send email to buyers when create new payment</p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="buyer">
                    <label class="form-check-label" for="buyer">
                        Email to buyers
                    </label>
                </div>
            </div>

            <div class="form-group mt-2">
                <label>Pdf footer:</label>
                <div class="card-body">
                    <textarea id="summernote" style="display: none;"></textarea>
                </div>
                <p id="pdfFooterMessage" style="color: red"></p>
            </div>

            <button onclick="save()" class="btn btn-success popup-with-form">Save</button>
        </section>
    </div>
</div>

<div th:replace="blocks/scriptAdminLTE"></div>
<script th:src="@{/js/validation.js}"></script>

<script>
    let context = window.location.pathname.substring(0, window.location.pathname.indexOf("/",1));
    let url = window.location.protocol+"//"+ window.location.host + context;

    $(document).ready(function() {
        summernote();
        updatePage();
    });

    function save(){
        let object = {};
        object.notificationContract = document.getElementById('contract').checked;
        object.notificationFlatPayment = document.getElementById('flatPayment').checked;
        object.notificationAgency = document.getElementById('agency').checked;
        object.sendEmailToBuyers = document.getElementById('buyer').checked;
        object.pdfFooter = $("#summernote").summernote("code");

        $.ajax({
            type: 'post',
            url: url + '/settings/updateSettings',
            data: JSON.stringify(object),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log('success /updateSettings');
                let validation = JSON.parse(data);
                if (validation == null) {
                    updatePage();
                    closePopup();
                } else {
                    validationMessage(validation);
                }
            },
            error: function () {
                console.log('error /updateSettings');
            }
        });
    }

    function validationMessage(validation){
        if(validation?.pdfFooter ?? false){
            document.getElementById('pdfFooterMessage').innerHTML = validation.pdfFooter;
        } else {
            document.getElementById('pdfFooterMessage').innerHTML = "";
        }
    }

    function updatePage(){
        $.ajax({
            type: 'get',
            url: url + '/settings/getSettings',
            dataType: "json",
            success: function (data){
                console.log('success /getSettings');
                document.getElementById('contract').checked = data.notificationContract;
                document.getElementById('flatPayment').checked = data.notificationFlatPayment;
                document.getElementById('agency').checked = data.notificationAgency;
                document.getElementById('buyer').checked = data.sendEmailToBuyers;
                $("#summernote").summernote("code", data.pdfFooter);
            },
            error: function() {
                console.log('error /getSettings');
            }
        });
    }

    function summernote(){
        // Summernote
        $('#summernote').summernote();
    }

</script>

<script th:src="@{/plugins/summernote/summernote-bs4.min.js}"></script>

</main>
</body>
</html>